:root {
    --primary: #003B40;
    --secondary: #ffffff;
    --background: #EDF0EF;
}

.app {
    background-color: var(--background);
    overflow-x: clip;
}

.logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    color: var(--primary);
    margin-bottom: 0px;
}

.spaceContainer {
    padding: 4%;
}

.shadowEffect {
    border-radius: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.footerStyle {
    background-color: var(--primary);
}

.footerText {
    color: var(--secondary);
}

.storeDetailsImage {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.chipSize {
    width: 200px;
    height: 50px !important;
}

@media (max-width: 991.98px) {

    .head {
        text-align: center;
    }

    .alignCenterForMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}